<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test</title>
</head>
<body>
<p>
  Dear <%= @email %>, <br/>

  You've been invited to join <%= @studio.name %>! Click below to sign up

  <a href=<%= new_user_registration_url(studio_id: @studio.id) %>>
    Sign Up!
  </a>

</p>
</body>
</html>